.jumbotron {
	background-image: url('../../assets_admin/images/perawat/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 300px;
	position: relative;
	border-radius: 0;
}

.layer {
	background-color: rgba(248, 247, 216, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.perawat-card {
	padding: 1rem;
	display: inline-flex;
	position: relative;
}

.perawat-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: 30% 10px 10px;
}

.perawat-card ul{
	list-style: none;
}

.card-status {
	padding: 1rem;
	border-left: 1px solid #cccccc;
}

.work-status {
	padding:1rem;
	background-color: sandybrown;
	font-size: 10px;
}